{% extends "base.html" %}

{% block title %}创建活动{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3 class="card-title">创建活动</h3>
                        <a href="{{ url_for('activity.center') }}" class="btn btn-secondary">
                            <i class="fas fa-arrow-left"></i> 返回活动中心
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <form method="POST">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">活动名称 <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="name" name="name" required>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="activity_type">活动类型 <span class="text-danger">*</span></label>
                                    <select class="form-control" id="activity_type" name="activity_type" required>
                                        <option value="">请选择</option>
                                        <option value="付费陈列">付费陈列</option>
                                        <option value="新网点开发">新网点开发</option>
                                        <option value="消费联谊">消费联谊</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="execution_start_date">执行周期 - 开始日期</label>
                                    <input type="date" class="form-control" id="execution_start_date" name="execution_start_date">
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="execution_end_date">执行周期 - 结束日期</label>
                                    <input type="date" class="form-control" id="execution_end_date" name="execution_end_date">
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="description">活动说明</label>
                            <textarea class="form-control" id="description" name="description" rows="4" 
                                      placeholder="请输入活动说明..."></textarea>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="require_application">是否需要申请参与</label>
                                    <select class="form-control" id="require_application" name="require_application">
                                        <option value="">请选择</option>
                                        <option value="需要">需要</option>
                                        <option value="不需要">不需要</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="customer_scope">参与客户范围</label>
                                    <select class="form-control" id="customer_scope" name="customer_scope">
                                        <option value="">请选择</option>
                                        <option value="不限制">不限制</option>
                                        <option value="终端客户">终端客户</option>
                                        <option value="经销商客户">经销商客户</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="product_scope">参与活动商品</label>
                                    <select class="form-control" id="product_scope" name="product_scope">
                                        <option value="">请选择</option>
                                        <option value="全部商品">全部商品</option>
                                        <option value="指定具体商品">指定具体商品</option>
                                        <option value="指定商品类型">指定商品类型</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="payment_method">兑付方式</label>
                                    <select class="form-control" id="payment_method" name="payment_method">
                                        <option value="">请选择</option>
                                        <option value="仅现金">仅现金</option>
                                        <option value="仅商品">仅商品</option>
                                        <option value="现金或商品">现金或商品</option>
                                        <option value="不限">不限</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="settlement_method">结案方式</label>
                                    <select class="form-control" id="settlement_method" name="settlement_method">
                                        <option value="">请选择</option>
                                        <option value="单次结案">单次结案</option>
                                        <option value="月度结案">月度结案</option>
                                        <option value="季度结案">季度结案</option>
                                        <option value="半年度结案">半年度结案</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="customer_signature">客户签收</label>
                                    <select class="form-control" id="customer_signature" name="customer_signature">
                                        <option value="">请选择</option>
                                        <option value="手写签收">手写签收</option>
                                        <option value="拍照签收">拍照签收</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="application_start_date">活动申请周期 - 开始日期</label>
                                    <input type="date" class="form-control" id="application_start_date" name="application_start_date">
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="application_end_date">活动申请周期 - 结束日期</label>
                                    <input type="date" class="form-control" id="application_end_date" name="application_end_date">
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="cost_share_ratio">费用分摊比例（%）</label>
                            <input type="number" class="form-control" id="cost_share_ratio" name="cost_share_ratio" 
                                   min="0" max="100" step="0.01" placeholder="输入0-100之间的数值">
                        </div>
                        
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-save"></i> 创建活动
                            </button>
                            <a href="{{ url_for('activity.center') }}" class="btn btn-secondary">
                                <i class="fas fa-times"></i> 取消
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
